/* font family */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --bs-primary-font: "Dosis", serif;
    --bs-secondry-font: "Rubik", serif;
    --bs-black:#121212;
    --bs-red: #E91A2C;
    --bs-sky:#E6F6FC;
    --bs-white: #ffffff;
    --h1: normal normal 700 54px/70px var(--bs-primary-font);
    --h2: normal normal 700 45px/58px var(--bs-primary-font);
    --h3: normal normal 700 35px/42px var(--bs-primary-font);
    --h4: normal normal 700 24px/31px var(--bs-primary-font);
    --h5: normal normal 700 16px/19px var(--bs-primary-font);
    --p: normal normal 400 17px/27px var(--bs-secondry-font);
}


h1,
.h1{
    font: var(--h1);
    text-transform: uppercase;
}

h2,
.h2{
    font: var(--h2);
    text-transform: uppercase;
}

h3,
.h3{
    font: var(--h3);
    text-transform: uppercase;
}

h4,
.h4{
    font: var(--h4);
    text-transform: uppercase;
}

h5,
.h5{
    font: var(--h5);
    letter-spacing: -0.02rem;
    text-transform: uppercase;
}

p{
    font: var(--p);
}

a{
    display: inline-block;
    color: var(--bs-black);
    text-decoration: none;
}

.font-dosis{
    font-family: var(--bs-primary-font);
}
.font-rubik{
    font-family: var(--bs-secondry-font);
}
.bs-black{
    color: var(--bs-black);
}
.bs-red{
    color: var(--bs-red);
}
.bs-sky{
    color: var(--bs-sky);
}
.bs-bg-sky{
    background: var(--bs-sky);
}


/* container */
.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* center-horizontal */
.center-horizontal {
    left: 50%;
    transform: translateX(-50%);
}
.bs-btn{
    padding: 18px 30px;
    display: inline-flex;
    font: normal normal 800 16px/100% var(--bs-primary-font);
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    transition: all 0.2s ease-in-out;
}
.danger_btn{
    background: var(--bs-red);
    color: var(--bs-white);
}
.danger_btn:hover{
    background: rgb(233 26 44 / 30%);
    color: var(--bs-red);
}

.primary_btn {
    border: 1.5px solid #231F20;
}

.black_btn:hover {
    background-color: #231F20;
    color: #ffffff;
}

/*********** HERO CSS STRAT HERE ***********/

.image-container {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    background-image: url('../img/hero_top_img.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    clip-path: url(#my-clip-path);
    -webkit-clip-path: url(#my-clip-path); /* For better cross-browser support */
}

.hero_main{
    padding-block: 80px;
}

.hero_main .content_side {
    max-width: 625px;
    width: 100%;
}

.hero_main .content_side .hero_title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.hero_main .content_side .sub_text {
    max-width: 525px;
}

.sub_text {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 30px;
}

.hero_main .content_side .common_btn {
    padding-block: 18px;
    padding-inline: 30px;
    font-weight: 800;
    line-height: 18px;
    width: fit-content;
    font-size: 18px;
    letter-spacing: 0.32px;
}
.hero_img_side{
    right: -6%;
    top: -26%;
    max-width: 724px;
    width: 52%;
}
.hero_img_side svg {
    width: 100%;
    height: auto;
}
.hero_shap_1 {
    top: 0;
    left: 31%;
}
.hero_shap_2 {
    bottom: -27%;
    left: 0;
}
.hero_shap_3 {
    left: -10%;
    bottom: 0%;
}
/*********** HERO CSS END HERE ***********/

/*********** FUN PROGRAM CSS STRAT HERE ***********/

.program_env {
    padding-block: 40px;
}

.fun_items_inner{
    max-width: 325px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.fun_items:not(:last-child):before{
    content: "";
    background: url("../img/fun_program_line.svg") no-repeat;
    background-size: 100%;
    width: 60%;
    position: absolute;
    top: 33%;
    left: 70%;
    padding: 0px 0 9%;
}

/*********** FUN PROGRAM CSS END HERE ***********/

/*********** FUN PROGRAM CATEGORY CSS END HERE ***********/
.gift_play_section{
    margin: 80px 0;
}

.gift_box_item {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    margin: 0 0 20px;
}

.gift_box_item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}
.gift_box_item:before {
    content: "";
    width: 180px;
    height: 180px;
    inset: 0;
    position: absolute;
    margin: auto;
    background: #EDEDED;
    border-radius: 50%;
}

.gift_box:hover img {
    transform: translate3d(0, -5%, 0);
}

.gift_box_item .hover_img {
    position: absolute;
    top: 0;
    z-index: 0;
    transform: scale(0);
}

.gift_box:hover .hover_img{
    transform: scale(1);
}


/*********** FUN PROGRAM CATEGORY CSS END HERE ***********/


/*********** FUN BUYING  CSS END HERE ***********/

.tab_buttons_main{
    margin: 30px 0;
    gap: 16px;
}

.tab_buttons_main button{
    background: transparent;
    border: 1px solid var(--bs-black);
    border-radius: 30px;
    padding: 11px 60px;
    color: var(--bs-black);
    font: normal normal 600 16px/19px var(--bs-secondry-font);
}
.tab_buttons_main button.active{
    background-color: var(--bs-black);
    color: var(--bs-white);
}

.tab_container_main {
    max-width: calc((100% - 1340px) / 2 + 1340px);
    margin: 0 0 0 auto;
    padding: 0 0px 40px 20px;
}

.tab-content:not(.active){
    display: none;
}

.play_slider .swiper-pagination-progressbar {
    position: relative;
    margin: 45px 0 0;
    max-width: 1340px;
    width: 100%;
    background: #D3D2D2;
}

.play_slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #231F20;
}

.play_box_img {
    aspect-ratio: 0.95;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px;
}

.play_box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play_box_img .play_hover_img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.play_box:hover .play_box_img img + img {
    opacity: 1;
}

/*********** FUN BUYING  CSS END HERE ***********/


/*********** RESPONISV CSS START HERE ***********/

@media only screen and (min-width: 991px) {
    .program_env{
        padding-block: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    .play_slider {
        gap: 30px;
    }
    .hero_main .content_side .sub_text {
        max-width: 100%;
    }
}
@media only screen and (max-width: 1220px) {
    .hero_main .content_side {
        max-width: 459px;
    }    
}


@media only screen and (max-width: 1140px) {
    .program_env {
        padding-block: 80px;
    }
    .gift_play_section{
        margin-bottom: 80px;
    }
    .hero_main .content_side {
        max-width: 459px;
    }
    .hero_img_side img{
        max-width: 500px;
    }
}


@media only screen and (max-width: 1024px) {
    .hero_main .content_side {
        max-width: 389px;
    }

    .gift_play_section .play_main {
        gap: 40px;
    }

    .gift_play_section .title {
        font-size: 32px;
        line-height: 40px;
    }

    .play_slider {
        gap: 20px;
    }
    .hero_img_side img{
        max-width: 400px;
    }

}


@media only screen and (max-width: 991px) {
    .program_env .env_main {
        justify-content: center !important;
    }

    .program_env .env_box {
        max-width: 50%;
    }

    .gift_play_section .play_main {
        justify-content: center !important;
    }
}

@media only screen and (max-width: 820px) {
    .hero_img_side img{
        max-width: 350px;
    }
    .hero_main .content_side {
        max-width: 350px;
    }
}


@media only screen and (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .hero_main,
    .program_env,
    .play_main {
        padding-block: 60px;
    }
    .hero_img_side {
        position: unset !important;
        transform: none !important;
        margin: 0 auto;
    }
    .hero_img_side img{
        max-width: 100%;
    }
    .hero_main_inner{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .hero_main .content_side {
        max-width: 100%;
        text-align: center;
    }
    .gift_play_section{
        margin-bottom: 60px;
    }
    .hero_main .content_side .hero_title {
        font-size: 40px;
        line-height: 50px;
    }

    .hero_main .content_side .common_btn {
        padding-block: 14px;
        padding-inline: 25px;
        font-size: 15px;
        margin:0 auto;
    }

    .program_env h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .program_env .env_box {
        max-width: 70%;
    }

    .gift_play_section .title {
        font-size: 28px;
        line-height: 30px;
    }

    .play_slider {
        gap: 15px;
    }
}


@media only screen and (max-width: 639px) {
    .hero_main .content_side {
        max-width: 100%;
    }

}


@media only screen and (max-width: 575px) {
    .program_env .env_box {
        max-width: 100%;
    }

    .gift_play_section .play_main {
        flex-direction: column;
        gap: 25px;
    }
}


/*********** RESPONISV CSS END HERE ***********/